REDIS_URL=
PORT=
DATABASE_URL=
KAFKA_BROKER=
JWT_ACCESS_SECRET=
JWT_SECRET=
FRONTEND_URL=
endpoint_url=
aws_access_key_id=
aws_secret_access_key=
region=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
BUCKET=